snippet frun "Initate snippet for Flutter" b
(bspc rule -l | grep "$1") >/dev/null ||
	echo "Configuring window tiling rule..." &&
	bspc rule -a "$1" desktop="code" follow=off focus=off split_dir=east state=tiled ||
	echo "Failed setting up window rule"
kitty @ set-tab-title " flutter" ; flutter run -d "linux"
endsnippet
